*.bin
jupyter.log
*.pt
*.pyc
*.pth
*.ckpt
*.zip
*.jpg
*.txt
*.csv
*.png
*.cache
.ipynb_checkpoints
work/output/*
.idea
work/notebook/wandb
work/notebook/swin_large_patch4_window7_224
work/notebook/swin_large_patch4_window12_384/default/*
work/notebook/swin_large_patch4_window12_384
work/notebook/.ipynb_checkpoints
.Trash-0
work/notebook/nohup.out
work/notebook/lightning_logs
work/2ndstage/.ipynb_checkpoints
work/2ndstage/output/*
wandb/*
lightning_logs/*
work/notebooks/yolo_data/*