*.bin
jupyter.log
.virtual_documents
*.pt
*.pyc
*.pth
*.ckpt
*.zip
*.jpg
*.csv
*.png
*.cache
*.parquet
*.npy
.ipynb_checkpoints
work/output/*
work/notebook/wandb
work/notebook/.ipynb_checkpoints
.Trash-0
work/notebook/nohup.out
work/notebook/lightning_logs
wandb/*
lightning_logs/*