*.bin
jupyter.log
.virtual_documents
*.pt
*.pyc
*.pth
*.ckpt
*.zip
*.jpg
*.csv
*.png
*.cache
*.parquet
*.npy
.ipynb_checkpoints
output/*
notebook/wandb
notebook/.ipynb_checkpoints
notebook/dataset
.Trash-0
notebook/nohup.out
notebook/lightning_logs
wandb/*
lightning_logs/*